/***************Menu****************/

.menu-section-heading {
    text-align: center;
}

.product-list {
    margin-left: 100px;
    margin-right: 100px;
}
.menu-item-wrapper {
    position: relative;
}

.menu-item {
    position: relative;
    max-width: 230px;
    margin:0 auto;
    background-color: black;
}

.menu-item-details img {
    max-width: 230px;
}

.menu-item-details span {
    display: block;
    padding-left: 5px;
    color: white;
    font-size: 18px;
    
    font-weight: 400;
}

.menu-item-options select {
    border: none;
    margin: 0px;
    outline: none;
}

.menu-item-options span {
    padding-left: 5px;
    color: white;
}

.qty-wrapper {
    height: 34px;
    position: relative;
}

.select-size {
    background-color: black;
    color: white;
}

.select-qty {
    width: 115px;
    height: 100%;
    background-color: white;
    color: black;
    display: inline-block;
}

.select-qty option {
    padding: 0px
}
.item-submit {
    position: absolute;
    width: 115px;
    height: 100%;
    outline: none;
    font-size: 12px;
    padding: 0px;
    border: 0px;
}

.pizza-item-submit {
    display: block;
    width: 230px;
    height: 34px;
    outline: none;
    font-size: 12px;
    padding: 0px;
    border: 0px;
}