{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}
{% block content %}
<div id="cart-wrapper">
    <div id="cart-items">
        {% for item in cart_items %}
            {% if item.product.product_type == 'PIZZA' %}
            <div class="cart-item-wrapper">
                <img src="{{item.product.image_url}}">
                <span class="cart-item-name">{{item.product.name}} x{{item.quantity}}</span>
                <span class="sub-total">€{{item.sub_total}}</span>
                <form class="form" action="{% url 'adjust_cart' item.product_id %}" method="POST">
                {% csrf_token %} 
                    <input type="hidden" name="product-type" value={{item.product_type}}>
                    <input type="hidden" name="product-id" value={{item.product_id}}>
                    <input type="hidden" name="item-index" value={{forloop.counter0}}>
                    <input type="hidden" class="adjust-type" name="adjust-type" value>
                    <div class="adjust-wrapper">
                        <input type="hidden" class="adjust-type" name="adjust-type" value>
                        <button class="adjust-cart increase"><i class="fas fa-plus"></i></button>
                        <button class="adjust-cart remove"><i class="far fa-trash-alt"></i></button>
                    </div>  
                </form>  
            </div>
            <hr>
            {% else %}
            <div class="cart-item-wrapper">
                <img src="{{item.product.image_url}}">
                <span class="cart-item-name">{{item.product.name}} x{{item.quantity}}</span>
                <span class="sub-total">€{{item.sub_total}}</span>
                <form class="form" action="{% url 'adjust_cart' item.product_id %}" method="POST">
                {% csrf_token %} 
                    <input type="hidden" name="product-type" value={{item.product_type}}>
                    <input type="hidden" name="product-id" value={{item.product_id}}>
                    <input type="hidden" name="item-index" value={{forloop.counter0}}>
                    <div class="adjust-wrapper">
                        <input type="hidden" class="adjust-type" name="adjust-type" value>
                        {% if item.quantity > 1%}
                        <button class="adjust-cart decrease"><i class="fas fa-minus"></i></button>
                        {% endif %}
                        <button class="adjust-cart increase"><i class="fas fa-plus"></i></button>
                        <button class="adjust-cart remove"><i class="far fa-trash-alt"></i></button>
                    </div>    
                </form>  
            </div>
            <hr>
            {% endif %}
        {% endfor %}
        <div id="checkout-now">
            <span id="grand-total">Total: €{{grand_total}}</span>
            <a href="{% url 'checkout' %}"><button>Checkout</button></a>
        </div>
        
    </div>
</div>

{% endblock %}
{% block postloadjs %}
<script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script
{% endblock %}