{% extends 'base.html' %}

{% block content %}
<h1>Cart screen</h1>
<a href="{% url 'checkout' %}">Checkout</a>
{% for item in cart_items %}
    {% if item.product.product_type == 'PIZZA' %}
    <div>
        <span>{{item.product.name}}</span>
        <span>Quantity:{{item.quantity}}</span>
    </div>
    {% else %}
    <div>
        <span>{{item.product.name}}</span>
        <span>Quantity:{{item.quantity}}</span>
    </div>
    {% endif %}
{% endfor %}
<span>Total: {{grand_total}}</span>
{% endblock %}