{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'profiles/js/change_address.js' %}"></script>
{% endblock %}
{% block content %}
<div id="profile-wrapper">
    <div class="form-wrapper">
        <h2>Your Details</h2>
        <form id='profile-form' action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
            <div class="form-input-wrapper">
                <div class="form-input">
                    <label for="first_name">First name</label>
                    <input type="text" name="first_name" value="{{user.first_name}}">
                </div>
                <div class="form-input">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-input">
                    <label for="contact_number">Contact Number</label>
                    {{ profile_form.contact_number }}
                </div>
                <div class="form-input">
                    <label for="street_address1">Address 1</label>
                    {{ profile_form.street_address1 }}
                </div>
                <div class="form-input">
                    <label for="street_address2">Address 2</label>
                    {{ profile_form.street_address2  }}
                </div>
                <div class="form-input">
                    <label for="county">County</label>
                    {{ profile_form.county }}
                </div>
                <button id="change-address-button">Change Address</button> 
                <div class="form-input search-wrapper">
                    <label for="search_input">New Address</label>
                    <input type="text" name="search_input" required id="search_input" class="pac-target-input" placeholder="Enter your address" autocomplete="no">
                </div>
                <span hidden id="address-error">Please choose a valid address</span>
                {{ profile_form.latitude }}
                {{ profile_form.longitude }}
                <div hidden>
                    {{ profile_form.user }}
                </div>                       
            </div>
            <button id="apply-changes-button"type="submit">Apply Changes</button>
        </form>
    </div>
</div>

{% endblock %}