{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %} {% block content %}
<div id="success-wrapper">
  <h1 id="success-title">THANKS FOR YOUR ORDER</h1>
  <h2>YOUR ORDER NUMBER IS:</h2>
  <h3 id="order-number">{{request.session.order_number}}</h3>
  <div id="cart-items">
    {% for item in cart_items %} {% if item.product.product_type == 'PIZZA' %}
    <div class="cart-item-wrapper">
      <img src="{{item.product.image_url}}" />
      <span class="cart-item-name">
        {{item.product.name}} x{{item.quantity}}</span>  
      <span class="sub-total">€{{item.sub_total}}</span>
    </div>
    <hr/>
    {% else %}
    <div class="cart-item-wrapper">
      <img src="{{item.product.image_url}}" />
      <span class="cart-item-name">
        {{item.product.name}} x{{item.quantity}}</span>      
      <span class="sub-total">€{{item.sub_total}}</span>
    </div>
    <hr />
    {% endif %} {% endfor %}
    <div id="total-wrapper">
      <span id="grand-total">Total: €{{total}}</span>
    </div>
  </div>
</div>

{% endblock %}
