{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<h1>Checkout screen</h1>
<div>Total: {{total}}</div>
<div id="card-element"></div>
<form id='payment-form'>
    {{ order_form.phone_number }}
    {{ order_form.street_address1 }}
    {{ order_form.street_address2  }}
    {{ order_form.town_or_city }}
    {{ order_form.postcode }}
    <input type='submit' value='Submit payment'>
</form>
{% endblock %}

{% block postloadjs %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}