#cart-wrapper {
    width: 92vw;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#cart-items {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 15px;
    background-color: white;
}

.cart-item-wrapper {
    position: relative;
    height: 85px;
    font-family: 'Montserrat', sans-serif;
}

.cart-item-wrapper img {
    position: absolute;
    left: 11px;
    top: 8px;
    height: 70px;
    width: 70px;
}

.cart-item-name {
    position: absolute;
    left: 90px;
    top: 8px;   
}

@media(max-width: 400px){
    .cart-item-name {
        width: 100px;
    }
}

.increase {
    background-color: #afe737;
}

.decrease {
    background-color: #d3d3e1;
}
.sub-total {
    position: absolute;
    right: 11px;
    top: 8px;
}

.adjust-wrapper {
    position: absolute;
    bottom: 8px;
    right: 11px;
}

.adjust-wrapper button {
    border: none;
}

#checkout-now {
    position: relative;
    height: 100px;
    background-color: white;
}

#checkout-now button {
    position: absolute;
    height: 40px;
    width: 110px;
    right: 11px;
    bottom: 10px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    background-color: #27a5ef;
    border: 0;
}

#grand-total {
    position: absolute;
    right: 11px;
    top: 5px;
    font-weight: 700;
    font-size: larger;
    color: #382e8d;
}

hr {
    width: 100%;
    margin: 0;
}

#empty-cart-message {
    text-align: center;
}