{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'select_store/css/select_store.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Y1Jc7Syxl2pf04Y9wIy-HbV26wVkpzo&libraries=places"></script>
<script type="text/javascript" src="{% static 'select_store/js/select_store.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Autocomplete location search input --> 
<form method="POST" action="{% url 'select_store' %}">
{% csrf_token %}
    <input type="text" name="test" value="test value">
    <label>Location:</label>
    <input type="text" class="form-control" id="search_input" placeholder="Type address..." />
    <button type="submit">Go</button>
    <input name="lat" type="hidden" id="loc_lat" value=""/>
    <input name="long" type="hidden" id="loc_long" value=""/>

</form>
{% if nearby_stores %}
<h3>Nearby stores</h3>
{% for store in nearby_stores %}
    <div>
        <span>{{store.name}}</span>    
    </div>
    <a class="text-muted" href="{% url 'select_store' %}?store={{store.id}}">
    Select</a>
                                               
{% endfor %}    
{% endif %}
{% if distant_stores %}
<h3>Other stores</h3>
{% for store in distant_stores %}
    <div>
        <span>{{store.name}}</span>    
    </div>
{% endfor %}    
{% endif %}
{% endblock %}