{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'select_store/css/select_store.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'select_store/js/select_store.js' %}"></script>
<script type="text/javascript" src="{% static '/js/search_address.js' %}"></script>

{% endblock %}

{% block content %}
<div id="select-store-wrapper">
    <div id="select-store-container">
        <h3 id="select-store-heading">Find a store</h3>
        <form method="POST" action="{% url 'select_store' %}">
        {% csrf_token %}
            <input name="customer_address" type="text" class="form-control" id="search_input" placeholder="Type address..." />
            <button id="submit-address-button" type="submit">Go</button>
            <input name="lat" type="hidden" id="loc_lat" value=""/>
            <input name="long" type="hidden" id="loc_long" value=""/>
        </form>
        <img id="ss-logo-img" src="/media/dojo-logo.jpg">
        {% if nearby_stores %}
        <h4>Nearby stores</h4>
        {% for store in nearby_stores %}
            <div id="nearby-stores-container">
                <div>
                    <span class="store-name">{{store.name}}</span>
                    <a class="collect-link" href="{% url 'select_store' %}?store={{store.id}}&delivery=False"><button>Collect</button></a>  
                    <a class="deliver-link" href="{% url 'select_store' %}?store={{store.id}}&delivery=True"><button>Deliver</button></a>    
                </div>
            </div>                                            
        {% endfor %}    
        {% endif %}
        {% if distant_stores %}
        <h4>Other stores</h4>
            {% for store in distant_stores %}
            <div id="other-stores-container">    
                <div>
                    <span class="store-name">{{store.name}}</span>
                    <a class="collect-link" href="{% url 'select_store' %}?store={{store.id}}&delivery=False"><button>Collect</button></a>      
                </div>
            </div>    
            {% endfor %}    
        {% endif %}
    </div>
</div>

{% endblock %}