@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

/**************Header***********/

header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100vw;
}

#top-header {
    position: relative;
    height: 80px;
    border-bottom: 2px solid black;
} 

#title-wrapper {
    position: relative;
    width: 299px;
    height: 100%;
    margin: 0 auto;
}

#logo-img, #main-title  {
    display: inline-block;
}

#main-title {
    position: absolute;
    top: 6px;
    right: 34px;
    font-family: 'Permanent Marker', cursive;
}

 #logo-img  {
    position: absolute;
    top: 12px;
    max-height: 40px;
    max-width: 40px;
}


#main-title {
    text-align: center;
}

#auth-user-links, #unauth-user-links {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 15px;
}

#bottom-header {
    text-align: center;
}

#nav-link-wrapper {
    display: inline-block;
    max-width: 810px;
    margin: 1px auto 5px auto
}

#nav-link-wrapper a {
    text-decoration: none;
    padding: 0;
}

.nav-link {
    display: inline-block;
}

.nav-link button{
    display: inline-block;
    height: 50px;
    width: 270px;
    background-color: white;
    border: 1px black solid;
    margin: -3px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width:810px){
    .nav-link button {
        width: 33.3vw;
        }
}

.content-wrapper {
    padding-top: 153px;
}

/**********Forms*****************/

.form-wrapper {
    position: relative;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 40px;
    background-color: #e9ecef;
}

.form-wrapper h1 {
    text-align: center;
}

.form-input-wrapper {
    position: relative;
    margin: 0 auto;
    width: 450px;
    padding-bottom: 10px;
}
.form-input label, .form-input input {
    display: block;
}

.form-input input {
    width: 420px;
    height: 30px;
    margin-bottom: 8px;
}
.form-input label {
    font-weight: 500;
    margin-bottom: 0;
}

.form-wrapper button {
    position: absolute;
    right: 5px;
    border: none;
}

input:invalid {
  border: 1px solid #fa755a;
}

.menu-section-heading {
    text-align: center;
}

.store-name {
    display: block;
    margin-bottom: 5px;
}

/*********************Footer***********************/
footer {
    height: 200px;
    background-color: black;
}