{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script
{% endblock %}

{% block content %}
<a href="{% url 'view_cart' %}">View cart</a>
<section id="pizza-section">
    <h1>Pizzas</h1>
    <div class="row no-gutters" id="pizzaList">
        {% for pizza in pizzas %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu-item-wrapper">
            <div class="menu-item-details">
                <img src="{{pizza.0.image_url}}">
                <span>{{ pizza.0.name }}</span>
            </div>
            <div class="menu-item-options">    
                <form class="form" action="{% url 'add_to_cart' pizza.0.sku %}" method="POST">
                {% csrf_token %}                                        
                    <select name="size_price">
                        <option value='{ "size": "small", "price":"{{pizza.0.small_price}}" }'>Small {{pizza.0.small_price}}</option>
                        <option value='{ "size": "medium", "price":"{{pizza.0.medium_price}}" }'>Medium {{pizza.0.medium_price}}</option>
                        <option value='{ "size": "large", "price":"{{pizza.0.large_price}}" }'>Large {{pizza.0.large_price}}</option>
                    </select>
                    <input type="hidden"  name="product_type" value={{pizza.0.product_type}}>
                    <input type="hidden"  name="quantity" value="1">
                    <input type="submit" class="item-submit" value="Add">   
                </form>
            </div>
            <!--div class="pizza-toppings">
                <ul>
                {% for topping in pizza.1 %}
                    <li>{{ topping.1 }} {{ topping.0 }}</li> 
                {% endfor %}
                </ul>
            </div-->
        </div> 
        {% endfor %}
    </div>        
</section>
<h1>Sides</h1>
{% for side in sides %}
<form class="form" action="{% url 'add_to_cart' side.sku %}" method="POST">
{% csrf_token %}
    <div class="menu-item">
        <span>{{ side.name }}</span>
    </div>
    <select name="size_price">
        <option value='{ "size": "medium", "price":"{{side.regular_price}}" }'>Regular {{side.regular_price}}</option>
        <option value='{ "size": "large", "price":"{{side.large_price}}" }'>Large {{side.large_price}}</option>
    </select>
        <select name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="hidden"  name="product_type" value={{side.product_type}}>
 <input type="submit" class="item-submit" value="Add">   
 </form>
{% endfor %}
<h1>Desserts</h1>
{% for dessert in desserts %}
<form class="form" action="{% url 'add_to_cart' dessert.sku %}" method="POST">
{% csrf_token %}
    <div class="menu-item">
        <span>{{ dessert.name }}</span>
    </div>
    <select name="size_price">
        <option value='{ "size": "medium", "price":"{{dessert.regular_price}}" }'>Regular {{dessert.regular_price}}</option>
        <option value='{ "size": "large", "price":"{{dessert.large_price}}" }'>Large {{dessert.large_price}}</option>
    </select>
        <select name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="hidden"  name="product_type" value={{dessert.product_type}}>
 <input type="submit" class="item-submit" value="Add">   
 </form>
{% endfor %}
<h1>Drinks</h1>
{% for drink in drinks %}
<form class="form" action="{% url 'add_to_cart' drink.sku %}" method="POST">
{% csrf_token %}
    <div class="menu-item">
        <span>{{ drink.name }}</span>
    </div>
    <select name="size_price">
        <option value='{ "size": "medium", "price":"{{dessert.regular_price}}" }'>Regular {{drink.regular_price}}</option>
    </select>
        <select name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="hidden" name="product_type" value={{drink.product_type}}>
 <input type="submit" class="item-submit" value="Add">   
 </form>
{% endfor %}
<a href="{% url 'flush_session' %}">Flush session</a>
{% endblock %}

