{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script
{% endblock %}

{% block content %}
<div id='section-link-wrapper'>
    <div>
        <a class="section-link" href="#pizza-section">
            <button>Pizzas</button>
        </a>
        <a class="section-link" href="#side-section">
            <button>Sides</button>
        </a>
        <a class="section-link" href="#dessert-section">
            <button>Desserts</button>
        </a>
        <a class="section-link" href="#drink-section">
            <button>Drinks</button>
        </a>
</div>
</div>

<section id="pizza-section">
    <h1 class="menu-section-heading">Pizzas</h1>
    <div class="row no-gutters product-list">
        {% for pizza in pizzas %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu-item-wrapper">
            <div class="menu-item">
                <div class="menu-item-details">
                    <img src="{{pizza.product.image_url}}">
                    <span>{{ pizza.product.name }}</span>
                </div>
                <div class="menu-item-options">    
                    <form class="form" action="{% url 'add_to_cart' pizza.product.sku %}" method="POST">
                    {% csrf_token %}                                        
                    {% if side.sizes|length == 1%}
                        <input type="hidden" value='{ "size": "{{pizza.sizes.0.size}}", "price":"{{pizza.sizes.0.price}}" }' name="size_price">
                        <span>{{size.size}} €{{pizza.sizes.0.price}}</span>
                    {% else %}
                        <select class="select-size" name="size_price">
                        {% for size in pizza.sizes %}
                            <option value='{ "size": "{{size.size}}", "price":"{{size.price}}" }'>{{size.size}} €{{size.price}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                        <input type="submit" class="pizza-item-submit" value="ADD TO CART">  
                        <input type="hidden"  name="product_type" value={{pizza.0.product_type}}>
                        <input type="hidden"  name="quantity" value="1"> 
                    </form>
                </div>
            </div>    
            <!--div class="pizza-toppings">
                <ul>
                {% for topping in pizza.1 %}
                    <li>{{ topping.1 }} {{ topping.0 }}</li> 
                {% endfor %}
                </ul>
            </div-->
        </div> 
        {% endfor %}
    </div>        
</section>
<section id="side-section">
    <h1 class="menu-section-heading">Sides</h1>
    <div class="row no-gutters product-list">
        {% for side in sides %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu-item-wrapper">
            <div class="menu-item">
                <div class="menu-item-details">
                    <img src="{{side.product.image_url}}">
                    <span>{{ side.product.name }}</span>
                </div>
                <div class="menu-item-options">    
                    <form class="form" action="{% url 'add_to_cart' side.product.sku %}" method="POST">
                    {% csrf_token %}
                    {% if side.sizes|length == 1%}
                        <input type="hidden" value='{ "size": "{{side.sizes.0.size}}", "price":"{{side.sizes.0.price}}" }' name="size_price">
                        <span>€{{side.sizes.0.price}}</span>
                    {% else %}
                        <select class="select-size" name="size_price">
                        {% for size in side.sizes %}
                            <option value='{ "size": "{{size.size}}", "price":"{{size.price}}" }'>{{size.size}} €{{size.price}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                        <div class="qty-wrapper">                                            
                            <select class="select-qty" name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>                        
                            <input type="submit" class="item-submit" value="ADD TO CART">
                        </div>
                        <input type="hidden"  name="product_type" value={{side.product_type}}>   
                    </form>
                </div>
            </div>    
        </div> 
        {% endfor %}
    </div>        
</section>
<section id="dessert-section">
    <h1 class="menu-section-heading">Desserts</h1>
    <div class="row no-gutters product-list">
        {% for dessert in desserts %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu-item-wrapper">
            <div class="menu-item">
                <div class="menu-item-details">
                    <img src="{{dessert.product.image_url}}">
                    <span>{{ dessert.product.name }}</span>
                </div>
                <div class="menu-item-options">    
                    <form class="form" action="{% url 'add_to_cart' dessert.product.sku %}" method="POST">
                    {% csrf_token %}
                    {% if dessert.sizes|length == 1%}
                        <input type="hidden" value='{ "size": "{{dessert.sizes.0.size}}", "price":"{{dessert.sizes.0.price}}" }' name="size_price">
                        <span>€{{dessert.sizes.0.price}}</span>
                    {% else %}
                        <select class="select-size" name="size_price">
                        {% for size in dessert.sizes %}
                            <option value='{ "size": "{{size.size}}", "price":"{{size.price}}" }'>{{size.size}} €{{size.price}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                        <div class="qty-wrapper">                                            
                            <select class="select-qty" name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>                        
                            <input type="submit" class="item-submit" value="ADD TO CART">
                        </div>
                        <input type="hidden"  name="product_type" value={{dessert.product_type}}>   
                    </form>
                </div>
            </div>    
        </div> 
        {% endfor %}
    </div>        
</section>
<section id="drink-section">
    <h1 class="menu-section-heading">Drinks</h1>
    <div class="row no-gutters product-list">
        {% for drink in drinks %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu-item-wrapper">
            <div class="menu-item">
                <div class="menu-item-details">
                    <img src="{{drink.product.image_url}}">
                    <span>{{ dessert.product.name }}</span>
                </div>
                <div class="menu-item-options">    
                    <form class="form" action="{% url 'add_to_cart' drink.product.sku %}" method="POST">
                    {% csrf_token %}
                    {% if drink.sizes|length == 1%}
                        <input type="hidden" value='{ "size": "{{drink.sizes.0.size}}", "price":"{{drink.sizes.0.price}}" }' name="size_price">
                        <span>€{{drink.sizes.0.price}}</span>
                    {% else %}
                        <select class="select-size" name="size_price">
                        {% for size in drink.sizes %}
                            <option value='{ "size": "{{size.size}}", "price":"{{size.price}}" }'>{{size.size}} €{{size.price}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                        <div class="qty-wrapper">                                            
                            <select class="select-qty" name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>                        
                            <input type="submit" class="item-submit" value="ADD TO CART">
                        </div>
                        <input type="hidden"  name="product_type" value={{drink.product_type}}>   
                    </form>
                </div>
            </div>    
        </div> 
        {% endfor %}
    </div>        
</section>
<a href="{% url 'flush_session' %}">Flush session</a>
{% endblock %}

