{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}

{% block content %}
<h1>Hello</h1>
<a href="{% url 'view_cart' %}">View cart</a>
{% for pizza in pizzas %}
<form class="form" action="{% url 'add_to_cart' pizza.0.sku %}" method="POST">
{% csrf_token %}
    <div class="menu-item">
        <span>{{ pizza.0.name }}</span>
        <ul>
         {% for topping in pizza.1 %}
            <li>{{ topping.1 }} {{ topping.0 }}</li> 
         {% endfor %}
         </ul>
    </div>
    <select name="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
        <select name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
 <input type="submit" value="Add">   
 </form>   
{% endfor %}
{% endblock %}

