#select-store-wrapper {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background:
     conic-gradient(#fff 0.25turn, red 0.25turn 0.5turn, #fff 0.5turn 0.75turn, red 0.75turn)
     top left / 3% 3% repeat;
    border: 1px solid;
}

#select-store-container {
    display: inline-block;
    width: 390px;
    margin-top: 45px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

#select-store-heading {
    margin-top: 9px;
}

#select-store-container  {
    text-decoration: none;
    min-height: 450px;
}

#select-store-container form {
    margin-bottom: 6px;
}

#select-store-container form button {
    border: none;
    height: 37px;
    width: 45px;
}

#other-stores-container {
    margin-bottom: 25px;
}

#search_input {
    display: inline-block;
    max-width: 300px;
}

#ss-logo-img {
    max-height: 180px;
    max-width: 180px;
}

.deliver-link button, .collect-link button {
    display: inline-block;
    height: 40px;
    width: 110px;
    border: 1px black solid;
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    color: red;
}
