{% extends "account/base.html" %}
{% load static %}

{% load i18n %}


{% block head_title %}{% trans "SIGN IN" %}{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="form-wrapper">
        <h1>{% trans "SIGN IN" %}</h1>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-input-wrapper">
                <div class="form-input">
                    <label for="email">Email</label>
                        {{ form.login }}
                </div>
                <div class="form-input">
                    <label for="password">Password</label>
                    {{ form.password }}
                </div>
                <button id="login-form-button" class="primaryAction" type="submit">{% trans "Sign In" %}</button>
            </div>    
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        </form>
    </div>
</div>    


{% endblock %}
