{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Dojo</title>
    {% block corecss %} 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block extra_css %}{% endblock %}

    {% block corejs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Y1Jc7Syxl2pf04Y9wIy-HbV26wVkpzo&libraries=places"></script>
    <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'flush_session' %}">Flush session</a>
        <div id="top-header">
            <div id="title-wrapper">
                <img id="logo-img" src="/media/dojo-logo.jpg">
                <h1 id="main-title" >Pizza Dojo</h1>
            </div>
            
            {% if request.user.is_authenticated %}
            <div id="auth-user-links">
                <a href="{% url 'profile' %}"><span>Blah{{user.first_name}}</span></a>
                <a href="{% url 'account_logout' %}"><span>Logout</span></a>
            </div>    
            {% else %}
            <div id="unauth-user-links">
                <a href="{% url 'account_signup' %}">Register</a>
                <a href="{% url 'account_login' %}">Login</a>
            </div>    
            {% endif %}            
        </div>
        {% if store %}
        <div id="bottom-header">
            <div id="nav-link-wrapper">
                <a class="nav-link" href="{% url 'select_store' %}"><button><i class="fas fa-map-marker-alt"></i> {{store_name}}</button></a>
                <a class="nav-link" href="{% url 'menu' %}"><button>Menu</button></a>
                <a class="nav-link" href="{% url 'view_cart' %}"><button><i class="fas fa-shopping-cart"></i> €{{grand_total}}</button></a>
            </div>
        </div>
        {% endif %}
    </header>
<div class="content-wrapper">    
{% block content %} 
{% endblock %}
</div>
{% block postloadjs %}
{% endblock %}
</body>
</html>