{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block corecss %} 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endblock %}
    {% block extra_css %}{% endblock %}

    {% block corejs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Y1Jc7Syxl2pf04Y9wIy-HbV26wVkpzo&libraries=places"></script>
    <script type="text/javascript" src="{% static 'select_store/js/select_store.js' %}"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

    <title>Pizza Dojo</title>
</head>
<body>
    <header>
        <div>{{store.name}}</div>
        <div>{{user.name}}</div>
        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}">My Profile</a>
                <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}">Register</a>
                <a href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </div>
    </header>
{% block content %} <h1>blah</h1>{% endblock %}

{% block postloadjs %}
{% endblock %}
</body>
</html>