/****************Details*******************/

input:invalid {
  border: 1px solid #fa755a;
}

#payment-form {
    padding-bottom: 10px;
}

#payment-button {
    display: block;
    width: 87%;
    height: 35px;
    margin: 10px auto 0 auto;
    border: none;
    background-color: #27a5ef;
    color: white;
}

#payment-total {
    position: relative;
    height: 30px;
    width: 87%;
    margin: 0 auto;
}

#payment-total span {
    position: absolute;
    right: 5px;
}
/****************Stripe input******************/
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-element {
    width: 87%;
    margin: 0 auto;
}
/*************Checkout success***************/

#success-wrapper {
    text-align: center;
}

#success-title {
    text-align: center;
    color: #f60f54;
}

#success-wrapper h3 {
    color: #f60f54;
}

#cart-items {
    display: inline-block;
    width: 92vw;
    margin-bottom: 40px;
    margin-top: 15px;
    background-color: white;
}

.cart-item-wrapper {
    position: relative;
    height: 85px;
    font-family: 'Montserrat', sans-serif;
}

.cart-item-wrapper img {
    position: absolute;
    left: 11px;
    top: 8px;
    height: 70px;
    width: 70px;
}

.cart-item-name {
    position: absolute;
    left: 90px;
    top: 8px;   
}


.sub-total {
    position: absolute;
    right: 11px;
    top: 8px;
}

#total-wrapper {
    position: relative;
    height: 100px;
    background-color: white;
}

#grand-total {
    position: absolute;
    right: 11px;
    top: 5px;
    font-weight: 700;
    font-size: larger;
    color: #382e8d;
}

hr {
    width: 100%;
    margin: 0;
}
